@media only screen and (max-width:1000px){
    .collection-setting{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .colection-text h1{
        text-align: center;
    }

    .colection-text h5{
        text-align: center;
    }

    .line-m{
        margin-left: auto;
        margin-right: auto;
    }

}

@media only screen and (max-width:815px){
    .footer-menu{
        display: flex;
        flex-direction: column;
    }

    .footer-menu div{
        
        border-right: none; 
       
    }
}

@media only screen and (max-width:600px){
    .menu{
        display: flex;
        flex-direction: column;
    }

    .menu div {
        border-right: none; 
    }

    .heder-button {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .contact-conteiner{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media only screen and (max-width:400px){
    .hed-deg img{
        display: none;
    }

    .login-input{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .login-input input{
        width: 80%;
    }

    .adress-input input{
        width: 80%;
    }

    .line-degustation{
        display: none;
    }

    .botle-img img{
        width: 100%;
    }
}